.section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  margin-top: 3%;

  .heading {
    color: white;
    padding-left:  76px;
    padding-right: 76px;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2%;
  }
  
  .content {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .movie-card{
    width: 220px;
    height: 420px;
    .movie-meta {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .movie-title {
        padding-top: 4px;
        font-size: 16px;
        color: whitesmoke;
        opacity: 0.9;
        font-weight: bold;
        padding-left: 10px;
      }

      .movie-score {
        padding-top: 4px;
        color: #ffab00;
        font-weight: bold;
        font-size: 24px;
        padding-right: 10px;
      }
    }
  }
}