.carousel-container {
  align-self: start;
  margin-top: -6%;
  z-index: 0;
  position: relative;
  flex-direction: column;
  margin-bottom: 54px;
}

.ant-carousel .slick-dots li button {
  background: black;
  opacity: 0.4;
  width: 8px;
  height: 8px;
  border-radius: 50%
}

.ant-carousel .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  background: #ffab00;
  &:after {
    border-radius: 50%;
    padding: 4px;
    border: 2px solid #ffab00;
    position: absolute;
    width: 18px;
    height: 18px;
    content: '';
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
  }
}
